.aboutus {
  width: 100vw;
  padding-top: 1vh;
  padding-bottom: 4vh;
  height: fit-content;
  box-sizing: border-box;
  background-color: rgba(210, 180, 140, 0.5);
}
#ABh {
  text-align: center;
  margin-top: 87px;
  font-size: 29px;
  font-family: "Product Sans";
}
hr {
  width: 153px;
  margin-top: 9px;
  height: 6px;
  background-color: rgb(44, 5, 5);
  border: 0px solid rgb(44, 5, 5);
  border-radius: 30px;
  transition: all 1s;
}
hr:hover {
  width: 200px;
}
#FP {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-family: "Product Sans";
  color: #666161;
}
.emogi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9px;
  margin-top: 8px;
}
.inemogi {
  /* height: 275px; */
  text-align: center;
  width: 89%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#face {
  font-size: 60px;
  margin-top: 94px;
}
.inner {
  padding-top: 2vh;
  padding-bottom: 26px;
  color: #666161;
  font-family: "Product Sans";
}
