* {
  box-sizing: border-box;
}
.container {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}
.dabba {
  position: relative;
  height: 90vh;
  width: 100vw;
  background-color: orange;
  overflow: hidden;
}
.screen {
  height: 100%;
  width: 100%;
  display: flex;
  transition: all 2s;
}
.cdabba {
  height: 100%;
  min-width: 100%;
}
#db1 {
  background: url(../Assets/Images/Product+Photography);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#db2 {
  background: url(../Assets/Images/ChatGPT\ Image\ Dec\ 20\,\ 2025\,\ 08_29_14\ PM.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#db3 {
  background: url(../Assets/Images/subscription-box.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#first {
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  color: white;
  text-align: left;
  font-size: 150px;
  padding-top: 50px;
}
#fbtn {
  top: 80%;
  position: relative;
  left: 78%;
  height: 101px;
  width: 270px;
  border-radius: 15px;
  font-family: "BBH Bogle", sans-serif;
  font-size: 30px;
  color: white;
  background: linear-gradient(to bottom, #e29449, #461808);
  border: none;
  transition: all 1s;
}
#fbtn:hover {
  transform: scale(0.95);
}
#second {
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  color: white;
  text-align: right;
  font-size: 150px;
  padding-top: 50px;
}
#sbtn {
  background: linear-gradient(to top, #3c3b3f, #605c3c);
  top: -7%;
  position: relative;
  right: -7%;
  height: 101px;
  width: 270px;
  border-radius: 15px;
  font-family: "BBH Bogle", sans-serif;
  font-size: 30px;
  color: white;
  border: none;
  transition: all 1s;
}
#sbtn:hover {
  transform: scale(0.95);
}
#third {
  font-family: "BBH Bogle", sans-serif;
  font-weight: 500;
  color: #4a3030;
  text-align: center;
  font-size: 150px;
  padding-top: 188px;
}
#tbtn {
  background: linear-gradient(to right, #ffefba, #ffffff);
  top: 0%;
  position: relative;
  right: -44%;
  height: 101px;
  width: 270px;
  border-radius: 15px;
  font-family: "BBH Bogle", sans-serif;
  font-size: 30px;
  color: #4a3030;
  border: none;
  transition: all 1s;
}
#tbtn:hover {
  transform: scale(0.95);
}
#Forward {
  border: none;
  position: relative;
  background: none;
  left: 1705px;
  font-size: 76px;
  top: 428px;
  color: #dea6a6;
}
#Previous {
  border: none;
  position: relative;
  background: none;
  left: 339px;
  font-size: 76px;
  top: 428px;
  color: #dea6a6;
}
.btnz {
  position: absolute;
  z-index: 12;
}
