.footer {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 5vh;
}

.footer-line {
  width: 70vw;
  color: #99a1af;
  background-color: #e59e4d;
  height: 2px;
  transition: all 1s ease;
}

.footer-line:hover {
  color: #e59e4d;
  transform: scale(1.05);
}

.footer-title {
  font-size: 1.5vw;
  margin: 0;
  color: white;
  transition: all 1s ease;
  /* border-radius: 30px; */
  /* padding: 1vw 1.5vw; */
}

.footer-title:hover {
  transform: scale(1.25);
  color: #e59e4d;
  /* background-color: white; */
  /* border: 2px solid #e59e4d; */
}

.copyright {
  color: #ebe6e7;
  font-family: "Product Sans";
  background-color: inherit;
  font-weight: 530;
  font-size: 1rem;
  padding: 1vh;
  /* text-align: center; */
  border-radius: 30px;
  transition: all 0.6s ease;
}

.copyright:hover {
  transform: scale(1.02);
  color: #000;
  /* background-color: rgba(210, 180, 140, 0.7); */
  background-color: white;
  border: 2px solid #e59e4d;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 10vw;
}

.footer-row-1 {
  display: inline-flex;
  /* width: 100vw; */
  align-self: center;
  align-items: start;
  /* text-align: center; */
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.footer-row-2 {
  display: inline-flex;
  /* width: 100vw; */
  gap: 20vw;
  align-self: center;
  align-items: start;
  /* text-align: center; */
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.footer-sec-head {
  margin: 0;
  margin-bottom: 1vh;
  font-family: "Product Sans";
  color: #e59e4d;
  transition: all 0.6s ease;
}

.footer-sec-head:hover {
  transform: scale(1.1) translateY(-3px);
}

.footer-section {
  margin-top: 1.2vh;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
  /* text-align: start; */
  align-items: start;
  justify-content: start;
}

.footer-section span {
  margin: 0;
  font-family: "Product Sans";
}

.github-logo {
  height: 2.5rem;
  width: 2.5rem;
  color: #ebe6e7;
  transition: all 1s ease;
}

.github-logo:hover {
  color: #e59e4d;
  transform: scale(1.1);
}
