.part2 {
  /* max-width: 100%; */
  /* height: 800px; */
  /* overflow-x: hidden; */
  box-sizing: border-box;
}
.iconsgrid {
  gap: 3vw;
  /* width: 81%; */
  /* height: 550px; */
  /* height: fit-content; */
  margin: 31px;
  padding-bottom: 3vh;
  display: grid;
  place-items: center;
  /* flex-wrap: wrap; */
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 1000px) {
  .iconsgrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.ecards {
  width: 432px;
  height: 207px;
  /* border: 1px solid black; */
  /* box-sizing: border-box; */
  box-shadow: 11px 10px 11px 0px #eae7e7;
  transition: all 1s;
  border-radius: 12px;
}
.ecards:hover {
  box-shadow: 11px 10px 11px 0px #c9c0c0;
}
.OSE {
  font-size: 55px;
  transition: all 1s;
  display: inline-block;
  margin-top: 10px;
}
.OSE:hover {
  /* font-size: 60px; */
  transform: scale(1.2) translateX(-10px);
}
.UP {
  margin-top: 17px;
  text-align: center;
  /* margin-left: 8px; */
}
.UH {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  font-weight: 500;
  /* margin-left: 8px; */
  margin-top: 43px;
}
