.patti {
  height: fit-content;
  width: 100vw;
  background-color: rgba(210, 180, 140, 0.6);
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 38px;
}

@media (min-width: 800px) {
  .patti {
    flex-direction: row;
  }
}
.cd {
  height: 200px;
  width: 271px;
  /* margin-left: 41px; */
  color: black;
  margin-top: 100px;
}
.cd-p {
  position: relative;
  bottom: -13px;
  font-size: 1vw;
  text-align: center;
}
.cd-h {
  font-size: 52px;
  text-align: center;
}
