.pd-t-20 {
  padding-top: 20vh;
}

.product-description {
  display: flex;
  justify-content: start;
  align-content: start;
}

.product-image {
  /* height: 20vw; */
  max-width: 30vw;
}

.product-title {
  font-family: "Product Sans";
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
  transition: all 1s ease;
  margin-top: 0;
  margin-bottom: 2vh;
}

.product-title:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 2px grey;
}

.small-category {
  /* margin-left: 0; */
  margin-bottom: 0 !important;
}

.small-category * {
  font-size: 0.8vw !important;
}

@media (min-width: 600px) {
  .small-category {
    margin-left: 0 !important;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  align-content: start;
  gap: 1vw;
  margin-left: 0;
  margin-top: 0;
}

.product-price {
  display: flex;
  gap: 1vw;
  font-size: 1.2vw;
  font-family: "Product Sans";
  transition: all 1s ease;
  padding: 10px;
  border-radius: 30px;
}

.product-price:hover {
  transform: scale(1.1);
}

#add-to-cart {
  font-size: 1.3vw;
  border-radius: 30px;
  width: 30vw;
}
