.head-img {
  font-size: 10vh;
  text-align: center;
  background-image: url("../Assets/Images/close-up-futuristic-sneakers\ \(1\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}

.page-heading {
  font-family: "BBH Bogle";
  font-size: 10vh;
  color: white;
  text-align: center;
  position: relative;
  top: 35%;
  z-index: 2;
  text-shadow: 2px 2px 2px grey;
  transition: all 1s ease;
}

.page-heading:hover {
  transform: scale(1.1) !important;
  text-shadow: 2px 2px 5px tan;
}

.head-description {
  font-family: "BBH Bogle";
  font-size: 4vh;
  color: white;
  text-shadow: 2px 2px 2px grey;
  position: relative;
  top: 40%;
  transition: all 1s ease;
  padding-left: 20vw;
  padding-right: 20vw;
}

.head-description:hover {
  transform: scale(1.05) !important;
  text-shadow: 2px 2px 2px tan;
}

/* ColorScheme Overiding */
.head-description:hover {
  transform: scale(1.05) !important;
  text-shadow: 2px 2px 2px tan;
}

.active-category {
  /* background-color: var(--color) !important; */
  background-color: rgb(218, 149, 29) !important;
  color: white;
}

.category:hover {
  /* background-color: var(--color) !important; */
  background-color: rgb(218, 149, 29) !important;
}

.product:hover {
  box-shadow: 2px 2px 5px 3px rgb(218, 149, 29);
}

#add-to-cart {
  background-color: rgb(218, 149, 29);
  border: 2px solid rgb(218, 149, 29);
}

.header-element:hover {
  color: rgb(218, 149, 29) !important;
}

.header-title:hover {
  color: rgb(218, 149, 29)!important;
}

.footer-line {
  background-color: rgb(218, 149, 29) !important ;
}

.footer-line:hover {
  color: rgb(218, 149, 29) !important;
}

.footer-title:hover {
  color: rgb(218, 149, 29) !important;
}

.copyright:hover {
  border: 2px solid rgb(218, 149, 29) !important;
}
.github-logo:hover {
  color: rgb(218, 149, 29) !important;
}
.footer-sec-head {
  color: rgb(218, 149, 29) !important;
}
.special{
width: 40vw;
height: 400px;
}
#joggers{
  width: 40vw;
}
/* .pro:hover{
  box-shadow: 1.5px 1.5px 5px 2px goldenrod;
} */
 .product:hover{
    box-shadow: 1.5px 1.5px 5px 2px rgb(218, 149, 29);
 }
#Formal{
width: 40vw;  
}