:root {
  --color: #da794b;
}
.head-img {
  font-size: 10vh;
  text-align: center;
  background-image: url("../Assets/Images/tech-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}

.page-heading {
  font-family: "BBH Bogle";
  font-size: 10vh;
  color: white;
  text-align: center;
  position: relative;
  top: 35%;
  z-index: 2;
  text-shadow: 2px 2px 2px grey;
  transition: all 1s ease;
}

.page-heading:hover {
  transform: scale(1.1) !important;
  text-shadow: 2px 2px 5px #e59e4d;
}

.head-description {
  font-family: "BBH Bogle";
  font-size: 4vh;
  color: white;
  text-shadow: 2px 2px 2px grey;
  position: relative;
  top: 40%;
  transition: all 1s ease;
  padding-left: 20vw;
  padding-right: 20vw;
}

.head-description:hover {
  transform: scale(1.05) !important;
  text-shadow: 2px 2px 2px #e59e4d;
}

.active-category {
  background-color: var(--color) !important;
  color: white;
}

.category:hover {
  background-color: var(--color) !important;
}

.product:hover {
  box-shadow: 2px 2px 5px 3px var(--color);
}

#add-to-cart {
  background-color: var(--color);
  border: 2px solid var(--color);
}

.header-element:hover {
  color: var(--color) !important;
}

.header-title:hover {
  color: var(--color) !important;
}

.footer-line {
  background-color: var(--color) !important ;
}

.footer-line:hover {
  color: var(--color) !important;
}

.footer-title:hover {
  color: var(--color) !important;
}

.copyright:hover {
  border: 2px solid var(--color) !important;
}
.github-logo:hover {
  color: var(--color) !important;
}
.footer-sec-head {
  color: var(--color) !important;
}
