.head-img {
  font-size: 10vh;
  text-align: center;
  background-image: url("../Assets/Images/tech-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}

.page-heading {
  font-family: "BBH Bogle";
  font-size: 10vh;
  color: white;
  text-align: center;
  position: relative;
  top: 35%;
  z-index: 2;
  text-shadow: 2px 2px 2px grey;
  transition: all 1s ease;
}

.page-heading:hover {
  transform: scale(1.1) !important;
  text-shadow: 2px 2px 5px tan;
}

.head-description {
  font-family: "BBH Bogle";
  font-size: 4vh;
  color: white;
  text-shadow: 2px 2px 2px grey;
  position: relative;
  top: 40%;
  transition: all 1s ease;
  padding-left: 20vw;
  padding-right: 20vw;
}

.head-description:hover {
  transform: scale(1.05) !important;
  text-shadow: 2px 2px 2px tan;
}

.active-category {
  background-color: #da794b !important;
  color: white;
}

.category:hover {
  background-color: #da794b !important;
}

.product:hover {
  box-shadow: 2px 2px 5px 3px #da794b;
}

#add-to-cart {
  background-color: #da794b;
  border: 2px solid #da794b;
}
